{% extends "base.html" %}
{% block content %}
    <h2>About</h2>
    <p>
        The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest
        in recapturing his long lost family inheritance.
        (Thorin's grandfather had been the King under the Mountain when Smaug came and took it.)
        Remembering that he had once known an adventurous Hobbit on his travels in the Shire, Gandalf decided to add
        Bilbo to their company because he knew that stealth and cunning were preferable to force.
        Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
        action.
        The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to leave
        on other business, welcomed a fourteenth to fill into their party.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>
                Thorin II was born in TA 2746 to the Dwarf prince Thráin II in the city of the Lonely Mountain. Early in
                his youth, Thorin and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug,
                in TA 2770. While in exile, he quickly grew into a capable warrior. This was demonstrated at the Battle
                of Azanulbizar, near Moria, in TA 2799. He fought with one of the Dwarven armies beneath Moria's
                East-gate, and at some point in the battle, his shield broke, and, using an oaken tree branch found on
                the ground as a shield, he gained the epithet "Oakenshield," which remained with him even in death.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/ec/1400193_695248260488487_320403599_o.jpg" alt="Thorin Oakenshield Character Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/a/a1/BOTFA_-_Fili_and_Kili.jpg" alt="Fili & Kili Character Image">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>
                Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother, Dís. They were also
                nephews of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing
                feature was his long nose, the longest of any of the Dwarves in Thorin's company.[2]

                As the youngest Dwarves, Fíli and Kíli had the sharpest eyes, and were often sent scouting or searching.
                It was they that found the Front Porch while in the Misty Mountains.[3]

                With the other Dwarves, Fíli and Kíli encountered spiders and were later imprisoned by the Elvenking
                Thranduil.[4] They escaped the cells thanks to Bilbo, traveling down the river in barrels until they
                reached Lake-town.[5] The brothers accompanied Thorin and Bilbo to Lake-town while the others rested by
                the river.[6]

                At the feet of the Lonely Mountain, Fíli and Kíli scouted Ravenhill and found the Front Gate with Balin
                and Bilbo. Also, with Bilbo, they found the side-door leading into the mountain.[7]

                Both brothers were killed while defending the mortally wounded Thorin Oakenshield in the Battle of Five
                Armies, and all three were later buried with honor.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Óin</h3>
            <p>
                Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. Óin's uncle was
                Fundin, the father of Balin and Dwalin.

                Óin fought in the Battle of Azanulbizar along with Thorin Oakenshield, and in TA 2941 joined Thorin's
                company on the quest to reclaim the Lonely Mountain, wearing a brown hood.[2] Óin was one of the Dwarves
                who bet that Bilbo would come along with them to reclaim the Lonely Mountain. Óin and his brother Glóin
                were usually in charge of preparing the fire for the Company, as they were the most skilled of the
                group. He fought in and survived the Battle of Five Armies, and later settled in the Lonely Mountain
                with King Dáin II Ironfoot, along with many other Dwarves of the company of Thorin.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/e8/Oin.jpg" alt="Óin Character Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/f/fc/Gloin_2.jpg" alt="Glóin Character Image">
        </div>
        <div class="col-md-7">
            <h3>Glóin</h3>
            <p>
                Glóin was born in TA 2783, after the dragon Smaug desolated Erebor. He was the younger child of Gróin
                and younger brother of Óin.

                In TA 2799, Glóin was known to have fought in the Battle of Azanulbizar, the last battle of the War of
                the Dwarves and Orcs, though it is unknown how significant his contribution was, being 16 years old.

                In TA 2879, in the Blue Mountains, while in exile, his son Gimli was born to him and an unknown wife. In
                March of TA 2941 in Bree, Thorin Oakenshield met by chance the wizard Gandalf the Grey, pushing Thorin
                to reclaim Erebor, so that Smaug wouldn't ally with Sauron. When Gandalf mentioned Hobbits, Glóin
                referred them as "simpletons" and also said that Hobbits "would never dare to come within smelling
                distance of the nakedest dragonet new from the shell".

                In TA 2941, Glóin and his brother Óin, along with his cousins Dwalin and Balin, were among the Dwarves
                accompanying Thorin and Company during their quest to the Lonely Mountain to recapture it from the
                dragon Smaug. He was noted for his skills with a tinderbox, and, along with his brother Óin, was usually
                the one told to get a fire started whenever the Dwarves made camp. Glóin also fought in the Battle of
                Five Armies.[1] After the battle, he made his home in the Lonely Mountain.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Balin</h3>
            <p>
                Balin was likely born in the Lonely Mountain before the coming of the dragon Smaug. He had a younger
                brother named Dwalin, and was amongst those driven from their homes when Smaug attacked the Lonely
                Mountain. Afterwards, he may have lived in Dunland as a refugee, before fighting in the War of the
                Dwarves and Orcs which culminated in the Battle of Azanulbizar. Many years later, in approximately TA
                2841, he accompanied Thráin II, the father of Thorin, when he attempted to go back to the Lonely
                Mountain himself. Thráin was captured and lost.[1]

                Balin was part of the company assembled by Thorin Oakenshield in TA 2941 that journeyed to the Lonely
                Mountain with Bilbo Baggins and Gandalf to defeat Smaug, and to retake the kingdom of Erebor. He was the
                second Dwarf to arrive at Bilbo's home, where, like his brother Dwalin, he played a viol as big as
                himself.[2] Following the meeting's conclusion and the company's initial departure to the Green Dragon
                Inn, Balin spotted Bilbo hurrying to reach them before they set out.[3]
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/e1/Balin_AUJ.jpg" alt="Balin Character Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg" alt="Dwalin Character Image">
        </div>
        <div class="col-md-7">
            <h3>Dwalin</h3>
            <p>
                Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of Fundin and
                younger brother of Balin. After fighting in the Battle of Azanulbizar at the age of 27, Dwalin
                accompanied Thráin II and Thorin Oakenshield to settle peacefully in the northern Ered Luin.

                Later in TA 2841, Dwalin, along with his brother Balin, and a few others accompanied Thráin when he left
                the Ered Luin on a Quest to reclaim Erebor. The small party was dogged by the emissaries of Sauron. In
                TA 2845, Thráin was captured one night when he and his companions sheltered under the eaves of Mirkwood
                from a black rain. After a fruitless search for their king, the Dwarves gave up and returned to Thorin
                to inform him the news.

                Dwalin was the first Dwarf to arrive, alone, at Bag End when the unexpected party planned by Thorin and
                Gandalf began at Bilbo Baggins' hobbit hole. Wearing a dark-green hood and a golden belt, he walked into
                Bilbo's home as if expected, which greatly surprised Bilbo. Soon Balin arrived, and he and Dwalin sat
                talking while Bilbo kept answering the door for the arrival of more and more Dwarves. Later, when Bilbo
                griped aloud in his kitchen about the lack of help in setting out refreshments, Dwalin and Balin were
                the first (followed by Fíli and Kíli) to lend a hand. Later still, when the Dwarves filled Bag End with
                music, Dwalin played on a viol as big as himself.[1] Dwalin lent a green hood and cloak to Bilbo when
                they set out on their journey.

                After Thorin's Company reclaimed the mountain from Smaug, Dwalin fought alongside his companions in the
                Battle of Five Armies. He survived the battle, and later received his fourteenth share of Smaug's hoard.
                He chose to live afterwards in Erebor under the rule of Dáin II Ironfoot, Thorin's cousin and now King
                under the Mountain.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Ori</h3>
            <p>
                Ori lived in Thorin's hall in the northern Blue Mountains for many years, alongside his cousins: Dori
                and Nori. In the year TA 2941, Ori became a member of Thorin's Company and travelled with Thorin,
                Gandalf, Bilbo Baggins, and the other Dwarves on the quest for the Lonely Mountain, culminating in the
                death of Smaug. Finally, he and the other Dwarves of Thorin's Company fought in the Battle of Five
                Armies in TA 2942, which he survived.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg" alt="Ori Character Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/2/27/Mark_Hadlow_as_Dori.jpg" alt="Dori Character Image">
        </div>
        <div class="col-md-7">
            <h3>Dori</h3>
            <p>
                Before the Quest of Erebor, Dori lived in Thorin's hall in the northern Blue Mountains with Nori and
                Ori. In TA 2941, the three became part of Thorin and Company, befriending Bilbo Baggins and traveling
                with him in search of Smaug's treasure at the Lonely Mountain.

                It fell to Dori to carry Bilbo Baggins in the tunnels of the Misty Mountains during the escape from the
                Goblins, but Dori dropped Bilbo, and the other Dwarves and Gandalf blamed him for "losing their
                burglar." Later, during their escape from the Wargs and Orcs, Dori helped Bilbo climb a tree to get away
                from the wargs. Bilbo shortly thereafter saved Dori by grabbing his legs as they were rescued by the
                Great Eagles and taken to the Great Shelf from the Misty Mountains. When Gandalf tells their tale to the
                skin-changer Beorn and brings forward the company, Dori came first, along with Thorin.

                Dori fought in and survived the Battle of Five Armies. He likely returned to the Lonely Mountain, where
                he survived up until the time of the Council of Elrond and the War of the Ring, most likely fighting in
                the Battle of Dale, though his exact death date is unknown.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Nori</h3>
            <p>
                Nori, as was his brother Dori, was a capable flutist, and both seem to have carried their flutes with
                them. Both shared Bilbo's liking for regular meals. Before the Quest for the Lonely Mountain, Nori lived
                in Thorin's Halls in the northern Blue Mountains with his two brothers.

                In TA 2941, Nori, along with Dori and Ori, became part of Thorin and Company, befriending Bilbo Baggins
                and traveling with him in search of Smaug's treasure in the Lonely Mountain. After their experience in
                Goblin-town when the company was pursued by Wargs and Orcs and forced to climb up into some trees, Nori
                was the first realize that Bilbo had been left on the ground and pointed him out to his brother Dori who
                rescued Bilbo.

                Nori did little to distinguish himself during the Dwarves's adventures in the wild, though he shared the
                same array of experiences as the others of the Company: captured in turn by Trolls, Goblins, Spiders,
                and Elves, they eventually reached the distant Lonely Mountain and recovered it for Durin's Folk.

                Nori fought in and survived the Battle of Five Armies and returned to the Lonely Mountain where he
                established himself and grew rich. During the War of the Ring, Nori was still living in the Lonely
                Mountain, and possibly fought in the Battle of Dale against the Easterlings.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/50/Untitled-31.png" alt="Nori Character Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/7/73/Bifur_2.jpg" alt="Bifur Character Image">
        </div>
        <div class="col-md-7">
            <h3>Bifur</h3>
            <p>
                Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not related to the royal House of
                Durin. Most of his familial relations are unclear, and what is known of his parentage is very little. He
                and his family were driven out of their home in the Lonely Mountain by the dragon Smaug, and were forced
                to live in exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a
                new life at his halls in the Blue Mountains, he continued his life as a toy maker.

                Answering Thorin Oakenshield's Quest of Erebor, he went to the meeting at Bag End with his cousins Bofur
                and Bombur, where he played the clarinet. On the quest, he was nearly cooked on a spit by Trolls and
                nearly killed by Goblins, Wargs, Stone giants, Great Spiders, and the dragon Smaug himself. A valiant
                and brave warrior, Bifur never gave up, and fought in the Battle of Five Armies with all his strength,
                killing numerous enemies. In the fallout of the great battle, Dáin II gave him his share of the
                treasure, and he retired to live at the Lonely Mountain.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Bofur</h3>
            <p>
                Bofur was not related to the royal House of Durin but was descended from the Dwarves of Khazad-dûm.

                While answering Thorin Oakenshield's quest to Erebor, Bofur went to the meeting at Bag End with his
                brother Bombur and cousin Bifur. He accompanied Thorin, Gandalf, Bilbo Baggins, and rest of Thorin's
                Company across Wilderland to the Lonely Mountain in order to reclaim the Dwarves' treasure from the
                dragon Smaug. Following the dragon's demise, Bofur participated in and survived the Battle of Five
                Armies, receiving his fourteenth share of the treasure as agreed upon.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/56/Bofur_Nesbitt.jpg" alt="Bofur Character Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/ed/Bombur.jpg" alt="Bombur Character Image">
        </div>
        <div class="col-md-7">
            <h3>Bombur</h3>
            <p>
                Bombur's parentage is unknown. He was the brother of Bofur and cousin of Bifur. Bombur was not of
                Durin's line, although he was descended from the Dwarves of Khazad-dûm. His birth date is unknown,
                though it fell somewhere between TA 2763 and TA 2859; the brothers Fíli and Kíli were the youngest of
                the thirteen "by some fifty years," and, after Thorin was captured, Balin was "the eldest left." Fíli
                was born in TA 2859, and Balin was born in TA 2763. Bombur was thus roughly 150 years old during the
                quest. Prior to the journey, Bombur likely resided in the Blue Mountains alongside Thorin, after the
                loss of Thráin II.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Gandalf</h3>
            <p>
                Feeling that a Hobbit should be involved, Gandalf remembered Bilbo Baggins. At first he found only
                Holman Cotton as Bilbo had left on the occasion of the Elven new year, something that persuaded Gandalf
                that Bilbo was the right person for the job.[8] He visited Bilbo later, bringing along the kinsmen of
                Thorin.[9] In the end, Gandalf convinced the reluctant Baggins to become a burglar for Thorin. Gandalf
                then accompanied Thorin and Company to Rivendell. During the journey Gandalf was instrumental in saving
                the travellers' lives from several calamities. He saved them from a trio of Stone-trolls, and later
                obtained the legendary sword Glamdring from their Troll-hoard; Gandalf bore it thenceforth.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/e7/Gandalf_the_Grey.jpg" alt="Gandalf Character Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/b/b6/The_Hobbit_wallpaper_48.jpg" alt="Bilbo Baggins Character Image">
        </div>
        <div class="col-md-7">
            <h3>Bilbo Baggins</h3>
            <p>
                Bilbo Baggins was born on September 22 by Shire-reckoning (around September 12–14 of our calendar), in
                the year 2890 of the Third Age. He was the only son of Bungo Baggins and Belladonna Took.

                In Hobbiton, Bungo Baggins constructed a spacious and luxurious Hobbit-hole for Belladonna, which they
                named Bag End. The family moved to their new home, where Bilbo would spend much of his life.

                As a young Hobbit, Bilbo was curious and eager for news of the outside world. The Istar wizard, Gandalf,
                took interest in this unusual quality in Bilbo during his visits to the Shire. Bilbo would later
                remember Gandalf's fireworks in the dwelling of his mother's family at Great Smials. Bilbo apparently
                practiced his rock-throwing skills in his youth so much, that birds and squirrels fled the area whenever
                he bent down to pick up a rock.
            </p>
        </div>
    </div>

{% endblock %}